@{
    ViewData["Title"] = "Recycling Dictionary";
}

<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"> <p>Recycling Data Dictionary</p> </div>
    </div>
</div>

<div class="upload-header-container dictionary">
    <h4>
        Check how to recycle your waste based on their category.
    </h4>
</div>
<div class="module-two-panel-selector-container">
    <div class="module-two-panel-selector">
        <div class="mobile-return-label Tagline">
            <div class="arrowhead left"></div>
            <span>
                Back
            </span>
        </div>
        <div class="two-panel-selector">
            <ul class="left-panel-container">
                <div class="left-panel-heading _1">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _1">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Batteries
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _2">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _2">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Cardboard
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _3">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _3">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Clothes
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _4">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _4">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Glass
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _5">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _5">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Metal
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _6">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _6">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Organic Waste
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _7">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _7">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Paper
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _8">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _8">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Plastic
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _9">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _9">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Shoes
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _10">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _10">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Styrofoam
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _11">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _11">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Trash
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _12">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _12">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Wood
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
            </ul>
            <div class="right-panel-container">
                <div class="right-panel _1">
                    <h4 class="right-panel-heading">
                        Batteries
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Batteries come in many forms, from the small ones in 
                            your remote and laptop right up to large car batteries. 
                            No type of battery should be thrown into the waste bin or 
                            into recycling.
                        </span>
                        <ul style="margin-top: 10px">
                            <li>Batteries need to be dropped off at specific recycling centers</li>
                            <li>These centers use the material extracted from batteries to make important items such as new batteries, electronic goods, and other similar items</li>
                            <li>Use this external link to find your nearest recycling point: <a href="https://bcycle.com.au/" target="_blank">https://bcycle.com.au/</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right-panel _2">
                    <h4 class="right-panel-heading">
                        Cardboard
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Cardboard is ubiquitous these days due to its extensive 
                            use in packing. Received a bulky item from online shopping? 
                            It’s likely packed in cardboard.
                        </span>
                        <ul style="margin-top: 10px">
                            <li>
                                Luckily recycling cardboard is easy: just pop it in your yellow bin! 
                                This material can be recycled many times over.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-panel _3">
                    <h4 class="right-panel-heading">
                        Clothes
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Before you send those old clothes of yours to the landfill consider 
                            these options to give them a better fate than rotting in the landfill:
                        </span>
                        <ul style="margin-top: 10px">
                            <li>
                                If the clothing is in good condition donate it at one of Victoria’s 
                                many charities such as the Salvo’s or a Red Cross shop
                            </li>
                            <li>
                                If the clothing is badly damaged, consider sending it to a textile 
                                recycling plant. You can find one near you using this external link: 
                                <a href="https://recyclingnearyou.com.au/clothing" target="_blank">https://recyclingnearyou.com.au/clothing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-panel _4">
                    <h4 class="right-panel-heading">
                        Glass
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Glass often spoils other recycling such as paper or 
                            cardboard. This is because broken glass cannot be put 
                            into recycling bins. However, if the glass item is not 
                            broken you can do two things to help the environment:
                        </span>
                        <ol style="margin-top: 10px;">
                            <li>
                                Clean the glass item of stickers, food and other waste before placing in your recycling bin
                            </li>
                            <li>
                                Checking with your local council if there are any specific glass recycling requirements
                            </li>
                        </ol>
                        <span>Glass is one of the few products that can be continuously recycled so do the right thing!</span>
                    </div>
                </div>
                <div class="right-panel _5">
                    <h4 class="right-panel-heading">
                        Metal
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Scrap metal in Victoria is best dealt with using 
                            metal recyclers. Do not put metal in your recycling 
                            bin. If you do not have access to metal recyclers 
                            take the waste to a transfer station.
                        </span>
                        <ul style="margin-top: 10px">
                            <li>
                                If the metal is aluminum such as cans it can also 
                                be deposited at participating refund points that 
                                will pay 10 cents per eligible can. See here for 
                                details: <a href="https://cdsvic.org.au/" target="_blank">https://cdsvic.org.au/</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-panel _6">
                    <h4 class="right-panel-heading">
                        Organic Waste
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Organic waste such as food scrap, garden cuttings and 
                            the like cannot be put into recycling bins. However, 
                            this does not mean that there is not an environmentally 
                            safe way to deal with organic waste. Here are a couple ways 
                            to help the environment when disposing of organic waste:
                        </span>
                        <ol style="margin-top: 10px;">
                            <li>
                                Compost: using compost bins can drastically reduce the 
                                burden on the environment of your organic waste. These can 
                                take the form of worm farms, fermenting devices, and 
                                compost heaps. Use this external link to learn more: 
                                <a href="https://www.melbourne.vic.gov.au/residents/sustainability-at-home/Pages/home-composting.aspx" target="_blank">
                                    https://www.melbourne.vic.gov.au/residents/sustainability-at-home/Pages/home-composting.aspx
                                </a>
                            </li>
                            <li>
                                Throw it in your green bin. All types of organic waste can 
                                be deposited in your green bin here in Victoria and they 
                                will be properly processed
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="right-panel _7">
                    <h4 class="right-panel-heading">
                        Paper
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Paper can be recycled by placing it in your yellow topped bin. 
                            Alternatively, it can also be dropped off at waste transfer 
                            stations where it will be properly recycled.
                        </span>
                    </div>
                </div>
                <div class="right-panel _8">
                    <h4 class="right-panel-heading">
                        Plastic
                    </h4>
                    <div class="right-panel-description">
                        <p style="font-size: 17px;">
                            Plastics require a bit more knowledge to properly recycle but 
                            as a general rule hard plastics can be placed in your recycling 
                            bin while soft plastics need to go into your waste bin.
                        </p>
                        <p style="font-size: 17px;">
                            To dive deeper use what is known as the plastic code which is a 
                            triangle shaped by three arrows with a number in the middle. 
                            The numbers suggest which items can be recycled.
                        </p>
                        <p style="font-size: 17px;">
                            These are:
                        </p>
                        <ul style="margin-top: 10px">
                            <li>
                                Items with recycling codes of: 1, 2, and 5
                            </li>
                            <li>
                                Items that cannot be recycled and must be put 
                                in your landfill bin are: 3,4,6 – polystyrene ,7.
                            </li>
                            <li>
                                For more information visit this external government website: 
                                <a href="https://www.portphillip.vic.gov.au/council-services/waste-recycling-and-rubbish/understanding-packaging-codes-and-labels" target="_blank">
                                    https://www.portphillip.vic.gov.au/council-services/waste-recycling-and-rubbish/understanding-packaging-codes-and-labels
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-panel _9">
                    <h4 class="right-panel-heading">
                        Shoes
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Similar to clothes shoes do not belong in your 
                            yellow bin. Rather, the manner you recycle them 
                            in is determined by their condition.
                        </span>
                        <ul style="margin-top: 10px">
                            <li>
                                If they are in good condition, consider donating 
                                them to charities near you such as the Red Cross 
                                foundation or Salvos.
                            </li>
                            <li>
                                Or, drop them off at a textile recycling service if 
                                they are no longer usable
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-panel _10">
                    <h4 class="right-panel-heading">
                        Styrofoam
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Styrofoam, or polystyrene, cannot be placed in your 
                            recycling bin! If it is clean white polystyrene, it 
                            should be collected and dropped off at specific recycling 
                            centers such as waste transfer centers. Otherwise, it 
                            must go into your general waste bin.
                        </span>
                    </div>
                </div>
                <div class="right-panel _11">
                    <h4 class="right-panel-heading">
                        Trash
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            General trash should be placed into your waste bin!
                        </span>
                    </div>
                </div>
                <div class="right-panel _12">
                    <h4 class="right-panel-heading">
                        Wood
                    </h4>
                    <div class="right-panel-description">
                        <span>
                            Wood does not go into the recycling bin. To dispose 
                            of it properly take it to a waste transfer center or 
                            put it out for hard rubbish collection.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="action-container">
    <br />
    <h2 style="color: #4a6f70"><strong>Want to know about Energy-Efficient House Tour?</strong></h2>
    <br />
    <h4 style="margin:auto; text-align:center; max-width: 800px; font-size: 24px;">
        It allows you to virtually explore ways that you can save energy and money 
        throughout your home. Even small improvements can be meaningful for home 
        energy savings. 
    </h4>
    <br />
    <br />
    <div style="display:flex; flex-direction:column; align-items:center;">
        <a class="action-button btn btn-primary" href="/Home/InteractiveHouse" draggable="false">
            Start your tour now »
        </a>
    </div>
    <br />
</div>
