@{
    ViewData["Title"] = "Recycling Introduction";
}

<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"> <p>Is this recyclable?</p> </div>
    </div>
</div>

<div id="recycling-intro">
    <h2 class="recycling-intro-heading">Recyclable? Use AI to find out.</h2>
    <p>Just upload your image, and our AI will predict if an item is recyclable - in just seconds.</p>
    <div class="recycling-intro-action">
        <img src="/images/recycling-identifier.jpg" alt="" />
        <a href="/Recycling/Classify" class="btn btn-primary" id="recycling-intro-button" draggable="false">Get started</a>
    </div>
</div>
