@{
    ViewData["Title"] = "GovernmentalSupport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"> <p>Government Support</p> </div>
    </div>
</div>

<!-- Title and subtitle -->
<div class="website-text" style="margin:auto; text-align:center;">

    <h4 style="margin:auto; text-align:center; max-width: 800px">
        From green research to large-scale deployment of renewable energy, 
        the Victorian Government’s funding programs span the entire 
        innovation chain. These programs accelerate the affordability 
        of new technologies and build investor confidence in renewable 
        energy projects now and into the future.
    </h4>
    <br />
    <br />
    <h2>Current Funding Opportunities</h2>
    <br />
</div>

<div class="container">

    <div class="row">
        <!-- First Card -->
        <div class="col-md-3 govSupport-card">
            <div class="website-text" style="text-align:center">
                <h3>
                    <a href="https://www.energy.vic.gov.au/households/victorian-energy-upgrades-for-households/" target="_blank">Victorian Energy Upgrades for Households</a>
                    </h3>
            </div>
        </div>

        <!-- Second Card -->
        <div class="col-md-3 govSupport-card">
            <div class="website-text" style="text-align:center">
                <h3>
                    <a href="https://compare.energy.vic.gov.au/embedded-networks/" target="_blank">Energy Bill Relief Program for Embedded Network Households</a>
                </h3>
            </div>
        </div>

        <!-- Third Card -->
        <div class="col-md-3 govSupport-card">
            <div class="website-text" style="text-align:center">
                <h3>
                    <a href="https://arena.gov.au/funding/advancing-renewables-program/" target="_blank">Advancing Renewables Program (ARP)</a>
                </h3>
            </div>
        </div>
    </div>

    <br />

</div>

<div class="action-container">
    <br />
    <h2 style="color: #4a6f70"><strong>Want to know about the Government Grants Available?</strong></h2>
    <br />
    <h4 style="margin:auto; text-align:center; max-width: 800px; font-size: 24px;">
        Fill in our Self Assessment Questionnaire to see the Government Grants available to you to reduce your living costs.
    </h4>
    <br />
    <br />
    <div style="display:flex; flex-direction:column; align-items:center;">
        <a class="action-button btn btn-primary" href="/Questionnaire/Index" draggable="false">
            Grants Self-Assessment »
        </a>
    </div>
    <br />

</div>
