@{
    ViewBag.Title = "Interactive House";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"> <p>Energy Efficient Home Tour</p> </div>
    </div>
</div>

<div class="container">

    <div style="display: flex; justify-content: center">
        <h4 style="max-width: 800px; text-align: center">
            The Energy Efficient House Tour allows you to virtually explore small and simple ways
            that you can save energy and money throughout your home. Even little
            improvements can contribute greatly.
        </h4>
    </div>

    <div class="questionnaire-result-container">
        <div id="help-container">
            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>How do I navigate in the model?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <ul class="questionnaire-accordion-head-text-description">
							<p style="font-size: 17px"> <strong>Once the model is loaded:</strong> </p>
                            <li> Left click within the model and drag to navigate around.</li>
                            <li> Click on the bright green information sign to get more information about the assigned energy efficient component.</li>
                            <li> Use 2 fingers to pinch inwards/outwards to zoom in/out.</li>
                            <li> When lost, press Internal View or the External View Button</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="justify-content: space-between">
            <div class="col-12 mobile-message">
                Current View Size not supported. Please use a desktop view to show model.

                <div id="energy-components-mobileversion">
                    <!-- energycomponents Dropdown -->
                    <h2 class="questionnaire-heading"><strong>Energy Efficient Components</strong></h2>
                    <br/>
                    <!-- Solar Panels Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Solar Panels</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto; ">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 200px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Explore:</strong><br>
                                    <a href="/Solar/Index" target="_blank">Solar Information</a><br><br>
                                    <strong>Governmental Support:</strong><br>
                                    <a href="https://www.solar.vic.gov.au/solar-panel-rebate" target="_blank">Solar Panel Rebate</a><br><br>
                                    <strong>Money-Saving Tips:</strong>
                                    <ul>
                                        <li>Rebates and interest-free loans are available to eligible households to replace their solar PV system if it is over ten years old.</li>
                                        <li>Existing customers who received a rebate at their old address and have moved house can now apply for multiple incentives for their new property if it is their primary residence.</li>
                                        <li>Eligible property owners with a home under construction can apply for a solar panel (PV) rebate as soon as they move in.</li>
                                        <li>Eligible rental providers can apply for a solar rebate for their rental property, saving on installation costs and reducing energy bills for renters.</li>
                                    </ul><br>
                                    <strong>About:</strong>
                                <p>Installing a solar electricity system in Victoria offers several financial benefits, including rebates for solar photovoltaic (PV) systems, hot water systems, solar batteries, and interest-free loans. 
                                    Proper planning and installation, guided by resources like the ‘Buyers Guide developed with Renew’, are crucial for maximising energy and cost savings. Considerations include system size, component quality, 
                                    and choosing a reputable installer. Rebates enhance affordability, and understanding grid connection is important for effective system integration. Warranties and consumer protections provide additional security 
                                    and confidence in the investment. <a href="https://www.solar.vic.gov.au/solar-panel-rebate" target="_blank">Learn more>></a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Outdoor Solar Lighting Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Outdoor Solar Lighting</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto; ">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 200px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Governmental Support:</strong><br>
                                    <a href="https://www.solar.vic.gov.au/solar-rebates" target="_blank">Solar Rebates</a><br><br>
                                    <strong>Money-Saving Tips:</strong>
                                    <ul>
                                        <li>Solar panels can be used to provide energy to internal lighting. Outdoors, solar lights can be used to light walkways, porches, pools, fountains, and other outdoor features with little to no CO2 emissions.</li>
                                        <li>Passive solar is a no-cost lighting solution. Passive solar means letting the natural sunlight your home. Whether it’s through strategically placed windows, skylights, or solar tubes, the sun can do a tremendous job of lighting your home for free.</li>
                                    </ul><br>
                                    <strong>About:</strong>
                                <p>Switching to solar lighting in Australia is highly beneficial for environmental and economic reasons. Solar lights are a sustainable choice, reducing carbon footprints and electricity costs. They're easy to install, require minimal maintenance, and can be used in various locations, including remote areas without power grids. Additionally, solar lights are safe, enhance property security, and support wildlife.</p>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- EV Charger Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>EV Charger</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto;">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 300px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Governmental Support:</strong><br>
                                    <a href="https://www.solar.vic.gov.au/getting-your-home-ev-ready" target="_blank">Getting Your Home EV Ready</a><br><br>
                                    <strong>Money-Saving Tips:</strong>
                                    <ul>
                                        <li>Install Solar Panels: The initial installation cost is high, but it's a cost-effective method to charge an electric car. Solar panels generate free, clean energy, reducing overall home energy expenses.</li>
                                        <li>Charge During Off-Peak Periods: Charging costs are lower during off-peak hours, typically at night. Chargers can be programmed to avoid peak hours, enhancing savings.</li>
                                        <li>Avoid Rapid Charging: Although rapid charging is convenient, it can be very expensive.</li>
                                        <li>Utilise Government Schemes: Incentives are available to reduce the costs of electric vehicle adoption. Grants cover up to 75% of the cost of installing a home charging wall box.</li>
                                    </ul><br>
                                    <strong>About:</strong>
                                <p>Charging an electric vehicle (EV) at home in Melbourne involves various options and considerations:</p>
                                <ul>
                                    <li>Charging Options: Level 1 uses standard outlets for slow charging; Level 2 requires a charging station to be installed for faster, overnight charging.</li>
                                    <li>Installation: A licensed electrician should install Level 2 stations, adhering to Australian Standards (AS/NZS 3000) for safety.</li>
                                    <li>Costs: Costs include purchasing the charger and installation. Running costs vary by electricity tariff, with time-of-use tariffs offering cheaper night-time charging.</li>
                                    <li>Government Incentives: Victorian Government incentives may help offset installation costs.</li>
                                    <li>Future Planning: Consider potential future needs like charging multiple EVs or upgrading chargers as EV usage grows.</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Heat Water Pump Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Heat Water Pump</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto;">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 300px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Governmental Support:</strong><br>
                                    <a href="https://www.energy.vic.gov.au/households/victorian-energy-upgrades-for-households/heating-and-cooling" target="_blank">Victorian Energy Upgrades for Households</a><br><br>
                                    <strong>Money-Saving Tips:</strong>
                                    <ul>
                                        <li>If you’re going to be away from your house for an extended period, switch the heat-pump water heater off at the switchboard to save energy.</li>
                                        <li>Every degree above 20 degrees can add 10% to your heating bill. In winter, heating can account for over 30% of your bill.</li>
                                    </ul><br>
                                    <strong>About:</strong>
                                <p>Heat-pump water heaters extract heat from the surrounding air to heat water, using about 60-75% less electricity than conventional electric heaters. They function like reverse-cycle air conditioners, using electricity for the heat pump, not for directly heating water. Available as integrated units or split systems. They require proper ventilation and consideration for noise, especially near bedrooms. Suitable for off-peak electricity tariffs, these systems can also utilise timers to align with solar photovoltaic systems for efficient energy use. Eligible for government rebates in some regions, they are efficient in warmer climates but may have slower reheat rates in cold weather.</p>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Window Coverings Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Window Coverings</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto;">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 300px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Info:</strong><br>
                                    <a href="https://www.sustainability.vic.gov.au/energy-efficiency-and-reducing-emissions/building-or-renovating/windows-and-shading" target="_blank">Home windows and shading for energy efficiency</a><br><br>
                                    <strong>Money-Saving Tips:</strong>
                                    <ul>
                                        <li>Choose window coverings based on the climate, window orientation (east, west, north-facing), and how frequently the coverings will be used for optimal energy savings.</li>
                                        <li>Opt for window coverings such as blinds, shades, curtains, or shutters to lower your energy bills and enhance your home’s style.</li>
                                        <li>Honeycomb or cellular blinds are highly energy efficient, trapping air and mimicking the effect of double-glazed windows.</li>
                                        <li>Blinds can reflect heat back out in summer and trap still air to prevent heat loss in winter.</li>
                                        <li>Heavy fabrics and insulating materials are effective at blanketing windows.</li>
                                        <li>Curtains should reach the floor and be weighted to minimize air movement; using a pelmet can further prevent heat transfer.</li>
                                        <li>Combine curtains with blinds for extra insulation.</li>
                                        <li>Solar blinds block UV rays, protecting furniture and reducing energy costs while allowing light to filter in during the day.</li>
                                        <li>Shutters provide excellent insulation by trapping still air between the shutter and the window.</li>
                                        <li>Custom-made shutters fit perfectly within the window frame, enhancing their energy efficiency.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>


                    <!-- Energy Star Light Fixtures Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Energy Star Light Fixtures</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto;">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 300px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Governmental Support:</strong><br>
                                    <a href="https://engage.vic.gov.au/project/victorian-energy-upgrades/page/lighting" target="_blank">Victorian Energy Upgrades: Lighting</a><br><br>
                                    <strong>Money-Saving Tips:</strong>
                                    <ul>
                                        <li>Choose Efficient Light Bulbs: Opt for LEDs (Light Emitting Diodes) and CFLs (Compact Fluorescent Lamps) instead of halogen and other incandescent lights. These bulbs are more energy-efficient, saving you money on electricity bills as they use up to 80% less energy while producing the same amount of light.</li>
                                        <li>Optimize Light Fittings: Avoid using downlights when possible as they require more units and increase energy consumption and costs. Instead, plan your lighting with energy-efficient fixtures to reduce overall energy use.</li>
                                        <li>Manage Usage: Always turn off lights when they are not in use to reduce energy costs. Also, make use of natural light as much as possible, which can significantly decrease the need for artificial lighting.</li>
                                        <li>Strategic Home Design: If renovating, position living areas and windows facing north to maximize sunlight exposure, reducing the need for artificial lighting and helping to warm these spaces naturally.</li>
                                        <li>Long-Term Savings: Although the initial cost of CFLs and LEDs might be higher, they last longer and use less energy, leading to significant savings over time.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Doors-Air Leakage Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Doors-Air Leakage</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto;">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 300px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Governmental Support:</strong><br>
                                    <a href="https://www.energy.vic.gov.au/households/victorian-energy-upgrades-for-households/weather-sealing" target="_blank">Victorian Energy Upgrades: Weather Sealing</a><br><br>
                                    <strong>Money-Saving Tips:</strong>
                                    <ul>
                                        <li>Identify Draughts: Detect draughts by checking for visible light under and around doors and windows, listening for rattles and whistling, feeling for moving air around openings and observing curtain movements.</li>
                                        <li>Seal Draughts: Address these draughts by sealing gaps around doors, windows, exhaust fans, fireplaces, and other areas where air leakage occurs. This includes sealing evaporative cooling outlets and blocking chimney draughts.</li>
                                        <li>Use the Right Materials: Choose appropriate draught-proofing materials based on the location and type of draughts. The specific approach will vary, so selecting the correct products is essential.</li>
                                        <li>Consider Safety with Gas Appliances: If you have internal gas appliances, ensure that draught proofing does not block required ventilation for these devices. It's crucial to have a licensed gas fitter check and service gas appliances, especially after sealing draughts, to ensure they operate safely.</li>
                                        <li>Leverage Government Incentives: Take advantage of programs like the Victorian Energy Saver Incentive Scheme, which supports draught-proofing efforts financially.</li>
                                        <li>Enhance Insulation: Complement draught proofing with proper insulation in ceilings, walls, and floors to further prevent heat loss in winter and keep your home cool in summer, enhancing the overall energy efficiency of your home.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Thermostat Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Thermostat</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto;">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 300px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Info:</strong><br>
                                    <a href="https://www.sustainability.vic.gov.au/energy-efficiency-and-reducing-emissions/save-energy-in-the-home/heat-your-home-efficiently" target="_blank">Heat Your Home Efficiently</a><br><br>
                                    <strong>Money-Saving Tips:</strong>
                                    <ul>
                                        <li>Optimal Thermostat Setting: In living areas, set your thermostat between 18°C and 20°C. Increasing the temperature beyond this range can significantly raise your heating costs, approximately 15% for each additional degree.</li>
                                        <li>Proper Thermostat Placement: Position your thermostat in the living areas where you spend the most time to get the most accurate temperature readings. Ensure it is shielded from draughts and direct heat sources like sunlight, which can cause inaccurate readings. Avoid placing the thermostat on external walls, as these can be cooler and lead to higher heating.</li>
                                        <li>Adapt Your Clothing: Adjust your indoor attire based on the outdoor temperature. Wearing warmer clothing, like a jumper, can help you feel comfortable without needing to turn up the heating, thus saving energy and reducing heating costs.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Kitchen Appliances Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Kitchen Appliances</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto;">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 300px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Governmental Support:</strong><br>
                                    <a href="https://www.energy.vic.gov.au/households/victorian-energy-upgrades-for-households/induction-cooktops" target="_blank">Victorian Energy Upgrades: Induction Cooktops</a><br><br>
                                    <strong>Money-Saving Tips:</strong><br>
                                    <em><strong>Ovens</strong></em>
                                    <ul>
                                        <li>Choose Energy-Efficient Features: Opt for fan-forced ovens to circulate hot air evenly, speeding up cooking and saving energy. Select ovens with triple-glazed doors and good insulation to retain heat better. Consider dual-purpose ovens (steam and conventional) to meet specific cooking needs efficiently.</li>
                                        <li>Use Your Oven Efficiently: Keep the oven door closed to avoid heat loss. Replace damaged seals and hinges to prevent energy wastage. Cook multiple dishes at once to utilize the space and heat. Turn off the oven before food is completely cooked to use residual heat for finishing. Use smaller appliances like electric fry pans, pressure cookers, or microwaves for smaller meals to save energy.</li>
                                    </ul>
                                    <em><strong>Stovetops</strong></em>
                                    <ul>
                                        <li>Choose an Energy-Efficient Stovetop: Induction cooktops are preferred for their efficiency as they heat the cookware directly without heating the cooking surface.</li>
                                        <li>Use Your Stovetop Efficiently: Use flat-bottomed pans for better heat transfer. Match pots with the hotplate size to minimize energy loss. Simmer instead of boiling vigorously to save energy.</li>
                                    </ul>
                                    <em><strong>Microwaves</strong></em>
                                    <ul>
                                        <li>Choose an Energy-Efficient Microwave: Select a microwave that fits your cooking needs without excess capacity. Consider models without a clock feature to save energy.</li>
                                        <li>Use Your Microwave Efficiently: Turn off the microwave at the wall when not in use to save energy. Defrost food in the fridge rather than using the microwave to avoid unnecessary energy use. Clean regularly to maintain efficiency.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Recyclable Materials Section -->
                    <div class="accordion-container">
                        <div class="questionnaire-accordion-head">
                            <div class="questionnaire-accordion-head-content">
                                <div class="questionnaire-accordion-head-text">
                                    <h4>Recyclable Materials</h4>
                                </div>
                                <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                            </div>
                        </div>
                        <div class="questionnaire-accordion-tail accordion-close" style="overflow-y: auto;">
                            <div class="questionnaire-accordion-tail-content" style="max-height: 300px">
                                <p class="questionnaire-accordion-head-text-description">
                                    <strong>Explore:</strong><br>
                                    <a href="/Recycling/Dictionary" target="_blank">Recyclable Materials Information</a><br><br>
                                    <strong>About:</strong>
                                <p>Materials and Water Costs: According to the Australian Bureau of Statistics, material and water costs for businesses can constitute 10% to over 50% of business revenue, with an average of more than 30%.</p>
                                <p>Resource Reduction: Businesses can significantly reduce material use and waste through actions such as conducting a Waste Wise audit. Improvements in materials efficiency can range from 20% to 50%, often achievable within two years.</p>
                                <p>Case Studies: A video highlights how two Victorian manufacturing businesses have successfully reduced material use and increased productivity, saving money in the process.</p><br>
                                <strong>Tools and Resources:</strong>
                                <ul>
                                    <li>Process Mapping Tool: An in-house tool to analyze business processes and operations, available as a downloadable PDF (447.7 kB).</li>
                                    <li>Reuse and Recycle Initiatives: Suggestions for simple workplace changes to enhance resource efficiency, with a downloadable PDF guide (214.6 kB).</li>
                                    <li>Paper Usage Reduction: With office workers in Australia using about 10,000 sheets of A4 paper annually, guidelines are provided to reduce paper waste (PDF, 212.3 kB).</li>
                                    <li>Waste Assessment: Methods to determine waste production through desktop audits, visual, or physical assessments, supported by a factsheet (PDF, 392.1 kB) and a recording sheet (DOC, 283.1 kB).</li>
                                </ul><br>
                                <strong>Related Concepts:</strong>
                                <ul>
                                    <li>Materials Efficiency: Focused on using fewer materials or producing more with the same amount.</li>
                                    <li>Process Optimisation: Aims to reduce cycle times, minimize waste, improve product or service quality, and cut costs.</li>
                                </ul><br>
                                <strong>More Info:</strong>
                                <a href="https://www.sustainability.vic.gov.au/recycling-and-reducing-waste/in-a-business-2/materials-efficiency-for-business/materials-efficiency-best-practice" target="_blank">Materials Efficiency Best Practice</a>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-md-8" style="align-content: center">
                <div class="model-container">
                    <div id="loadingScreen">
                        <button id="enterTourButton">Enter Tour</button>
                    </div>
                    <div id="modelLoadingScreen">Loading 3d House, please wait...</div>
                    <canvas id="renderCanvas" touch-action="none" style="width: 100%; height: 100%;"></canvas>
                </div>
            </div>
            <div class="col-md-4" style="align-content: center">
                <div id="detailsContainer" style="overflow-y: auto; max-height: 500px; width: 100%">
                    <h3 id="infoTitle" style="color: #00826a"></h3>
                    <img id="infoImage" src="" alt="Node Image" style="width: 100%; display: none;">
                    <ul id="infoDescription">
                        <h3 id="infoTitle" style="color: #00826a">Welcome!</h3>
                        <li style="font-size: 15.5px"> Press "<strong>Enter Tour</strong>" to begin</li>
                        <li style="font-size: 15.5px"> Please note it may take a while to load the model during your first time.</li>
                        <li style="font-size: 15.5px"> If you encounter any problems, please seek the "<strong>Troubleshoot</strong>" section below.</li>
                        <li style="font-size: 15.5px"> It is recommended to close other high CPU running programs in the background.</li>
                        <br />
                        <h3 id="infoTitle" style="color: #00826a">To Navigate</h3>
						<p style="font-size: 15.5px"> Once the model is loaded: </p>
                        <li style="font-size: 15.5px"> Left click within the model and drag to navigate around.</li>
                        <li style="font-size: 15.5px"> Click on the bright green information sign to get more information about the assigned energy efficient component.</li>
                        <li style="font-size: 15.5px"> Use 2 fingers to pinch inwards/outwards to zoom in/out.</li>
                        <li style="font-size: 15.5px"> When lost, press Internal View or the External View Button</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="help-container">
            <!-- Help/Troubleshoot Dropdown -->
            <h2 class="questionnaire-heading"><strong>Troubleshoot</strong></h2>

            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>Why is the model lagging?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <p class="questionnaire-accordion-head-text-description">
                            <li> Close other running programs and processes in the background. Escpecially high CPU usage applications like Zoom, Games or any other high CPU usage programs.
                            <li> If it is still lagging, try reducing the web page size using ("<strong>Ctrl</strong>" and "<strong>-</strong>") on Windows or ("<strong>Command</strong>" and "<strong>-</strong>") on Mac and then refresh the page.
                            <li> If it is still lagging, you can try leaving the model loaded for 4 to 5 minutes and then come back to it.
                            <li> If it is still lagging, the only option is try using a different device with higher processor and higher RAM.
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>Why am I am stuck at the loading screen?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <p class="questionnaire-accordion-head-text-description">
                            <li> Please try to wait for a max of 20 seconds or 1 minute if your device is currently slow. If it still not loading:
                            <li> Clear your browser cache and reload the model again.
                            <li> Refresh the model by clicking on the <strong>Home Efficient Design</strong> tab in the navigation bar again or simply refresh the page.
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>Why can I only see white and blue?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <p class="questionnaire-accordion-head-text-description">
                            Refresh the model by clicking on the <strong>Home Efficient Design</strong> tab in the navigation bar again or simply refresh the page.
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>Its not working properly?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <p class="questionnaire-accordion-head-text-description">
                            <li> Make sure you are using a laptop or a computer.
                            <li> Close other running programs and processes in the background such as Zoom, Opened Games or any high CPU usage programs.
                            <li> Refresh the model by clicking on the <strong>Home Efficient Design</strong> tab in the navigation bar again or simply refresh the page.
                            <li> It may load for a long time, when you are first opening this model.
                            <li> Clear your browser cache and reload the model again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="action-container">
    <br />
    <h2 style="color: #4a6f70"><strong>Want to know more about Governmental Support?</strong></h2>
    <br />
    <h4 style="margin:auto; text-align:center; max-width: 800px; font-size: 24px;">
        Numerous government initiatives provide substantial incentives and financial support for residents to adopt energy-efficient home systems.
    </h4>
    <br />
    <br />
    <div style="display:flex; flex-direction:column; align-items:center;">
        <a class="action-button btn btn-primary" href="/Home/GovernmentalSupport" draggable="false">
            Start your saving now »
        </a>
    </div>
    <br />
</div>

<script src="~/js/modelViewer.js"></script>
