@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"><p>References</p></div>
    </div>
</div>

<div class="container">
    <div id="image-reference">
        <h2 style="color: #00826a">Image References</h2>
        <ul style="margin-top: 10px">
            <li><a href="https://www.flaticon.com/free-icons/carbon-footprint" title="carbon footprint icons" target="_blank">Carbon footprint icons created by Eucalyp - Flaticon</a></li>
        </ul>
    </div>
    <div id="model-reference">
        <h2 style="color: #00826a">Home Effcient Design 3d Model References</h2>
        <ul style="margin-top: 10px">
            <li>
                "Australian Wheelie Bins Rubbish Trash." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/8c37013d-4cd3-4883-85e5-76665c40e060/Australian-Wheelie-Bins-Rubbish-Trash" target="_blank">https://3dwarehouse.sketchup.com/model/8c37013d-4cd3-4883-85e5-76665c40e060/Australian-Wheelie-Bins-Rubbish-Trash</a>.
            <li>
                "Car." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/3d3d45d7-9e1d-4244-8733-c169757c835a/car" target="_blank">https://3dwarehouse.sketchup.com/model/3d3d45d7-9e1d-4244-8733-c169757c835a/car</a>.
            <li>
                "Fridge." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/331c01fa-5f0d-44d5-8bdf-17c5333a4ef4/fridge" target="_blank">https://3dwarehouse.sketchup.com/model/331c01fa-5f0d-44d5-8bdf-17c5333a4ef4/fridge</a>.
            <li>
                "Garden." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/6514f0f9c4b65da4af3cab53e1a29939/Garden" target="_blank">https://3dwarehouse.sketchup.com/model/6514f0f9c4b65da4af3cab53e1a29939/Garden</a>.
            <li>
                "Garden Solar Light." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/23ff645ca598c4013e08e78e3881336a/Garden-solar-light" target="_blank">https://3dwarehouse.sketchup.com/model/23ff645ca598c4013e08e78e3881336a/Garden-solar-light</a>.
            <li>
                "Grass." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/c06c0a5c-1700-474a-bead-2435090f8fe8/Grass" target="_blank">https://3dwarehouse.sketchup.com/model/c06c0a5c-1700-474a-bead-2435090f8fe8/Grass</a>.
            <li>
                "INDOOR PLANTS." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/e27cc097f7e1d5f5e16066b24c1dd3f5/INDOOR-PLANTS" target="_blank">https://3dwarehouse.sketchup.com/model/e27cc097f7e1d5f5e16066b24c1dd3f5/INDOOR-PLANTS</a>.
            <li>
                "MICROWAVE." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/95e76331-9474-4897-b2b6-506a3a464999/MICROWAVE" target="_blank">https://3dwarehouse.sketchup.com/model/95e76331-9474-4897-b2b6-506a3a464999/MICROWAVE</a>.
            <li>
                "Outdoor Furniture." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/b8330c28-7229-4361-be9a-2da99a0cb6a4/Outdoor-furniture" target="_blank">https://3dwarehouse.sketchup.com/model/b8330c28-7229-4361-be9a-2da99a0cb6a4/Outdoor-furniture</a>.
            <li>
                "Radite Rekonnect DC EV Charger." SketchUp 3D Warehouse. Accessed May 20, 2024.
                <a href="https://3dwarehouse.sketchup.com/model/56920a4d-e1b8-436d-9f9d-f992a8b02196/Radite-Rekonnect-DC-EV-Charger" target="_blank">https://3dwarehouse.sketchup.com/model/56920a4d-e1b8-436d-9f9d-f992a8b02196/Radite-Rekonnect-DC-EV-Charger</a>.
        </ul>
    </div>
</div>
