<div class="container">
<div class="calculator-insights-container">
    <h2>Your impact in detail</h2>
    <hr/>
    <div class="calculator-insights">
        <div class="calculator-insights-left">
            <div class="insights-left-headings">
                <h4>Breakdown</h4>
                <h4>tCO2e</h4>
            </div>
            <div class="insights-left-total">
                <span>Energy</span>
                <span class="insights-left-total-value">0</span>
            </div>
            <div class="insights-left-items-container">
                <div class="insights-left-item-container electricity-insight">
                    <div class="insights-left-item">
                        <div class="insights-top-input">
                            <span>Electricity</span>
                            <span class="insights-top-result">0</span>
                        </div>
                        <span class="insights-left-bottom-input">0 kWh</span>
                    </div>
                </div>
                <div class="insights-left-item-container natural-gas-insight">
                    <div class="insights-left-item">
                        <div class="insights-top-input">
                            <span>Natural Gas</span>
                            <span class="insights-top-result">0</span>
                        </div>
                        <span class="insights-left-bottom-input">0 MJ</span>
                    </div>
                </div>
                <div class="insights-left-item-container lpg-insight">
                    <div class="insights-left-item">
                        <div class="insights-top-input">
                            <span>LPG</span>
                            <span class="insights-top-result">0</span>
                        </div>
                        <span class="insights-left-bottom-input">0 kg</span>
                    </div>
                </div>
                <div class="insights-left-item-container firewood-insight">
                    <div class="insights-left-item">
                        <div class="insights-top-input">
                            <span>Firewood</span>
                            <span class="insights-top-result">0</span>
                        </div>
                        <span class="insights-left-bottom-input">0 kg</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="calculator-insights-right">
            <h4>Key Insights</h4>
            <div class="insights-right-container">
                <div class="insights-right electricity-insight">
                    <p class="insights-right-intro">Your household used 0 kWh of electricity</p>
                    <p class="insights-right-body">
                        There are lots of small behaviour changes you can make 
                        to reduce your household's electricity consumption 
                        like turning the lights off when you leave a room, 
                        using a standby power board, using the 'eco' setting 
                        on your dishwasher and washing machine, and setting 
                        your air conditioner between 24 and 27 degrees. If 
                        you own your own home, consider installing solar 
                        panels - this can lower your carbon footprint AND 
                        save money in the long term!
                    </p>
                </div>
                <div class="insights-right natural-gas-insight">
                    <p class="insights-right-intro">Your household used 0 MJ of natural gas</p>
                    <p class="insights-right-body">
                        There are lots of small behaviour changes you can make 
                        to reduce your household's natural gas consumption. In 
                        the kitchen, try using a smaller pan if possible, and put 
                        a lid on so the food cooks faster. If you have a gas hot 
                        water system, conserve hot water by taking shorter showers 
                        and installing low-flow shower heads. Set your water 
                        heater to a maximum of 50 degrees Celsius.
                    </p>
                </div>
                <div class="insights-right lpg-insight">
                    <p class="insights-right-intro">Your household used 0 kg of LPG</p>
                    <p class="insights-right-body">
                        There are lots of small behaviour changes you can make to 
                        reduce your household's LPG consumption. If your hot water 
                        system runs on LPG, conserve hot water by taking shorter 
                        showers and installing low-flow shower heads. Set your 
                        water heater to a maximum of 50 degrees Celsius. When 
                        using LPG for outdoor cooking, make sure you switch the 
                        gas off at the bottle (not just the BBQ) after every use.
                    </p>
                </div>
                <div class="insights-right firewood-insight">
                    <p class="insights-right-intro">Your household used 0 kg of firewood</p>
                    <p class="insights-right-body">
                        To reduce your heating needs, open your curtains during 
                        the day to naturally warm your home. Ensure your roof is 
                        well-insulated and that there are no cold draughts entering 
                        through the doors or flooring. Layer up with clothes, 
                        then decide if you still need to light the fire!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="action-container" style="display: none; padding: 50px 30px;">
    <br />
    <h2 style="color: #4a6f70"><strong>Want to know about Energy-Efficient House Tour?</strong></h2>
    <br />
    <h4 style="margin:auto; text-align:center; max-width: 800px; font-size: 24px;">
        It allows you to virtually explore ways that you can save energy and money 
        throughout your home. Even small improvements can be meaningful for home 
        energy savings. 
    </h4>
    <br />
    <br />
    <div style="display:flex; flex-direction:column; align-items:center;">
        <a class="action-button btn btn-primary" href="/Home/InteractiveHouse" draggable="false">
            Start your tour now »
        </a>
    </div>
    <br />
</div>
